.root {

}

#mainPane {
    -fx-padding: 12;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.4), 10, .5, 0, 0);
    -fx-background-color: white;
    -fx-background-insets: 12;
    -fx-background-radius: 6;
}

.scroll-pane {
    -fx-padding: 0.08333325em 0.08333325em 0.08333325em 0.08333325em;
    -fx-border-insets: 0.08333325em 0.08333325em 0.08333325em 0.08333325em;
    -fx-background-radius: 2;
}

.scroll-pane-styleless {
    -fx-box-border: transparent;
    -fx-background: -fx-control-inner-background;
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-fit-to-width: true;
}

.title-bar {
  -fx-background-color: rgb(60, 63, 65)
}

.menu-bar {

}

#minimise:hover,
#close:hover {
    -fx-opacity: 0.8;
}

#minimise {
    -fx-background-color: orange;
}

#close {
    -fx-background-color: red;
}

.background-white {
    -fx-background: white;
    -fx-background-color: white;
}

.background-red {
    -fx-background: #d32f2f;
    -fx-background-color: #d32f2f;
}

.border-label {
  -fx-padding: 5;
  -fx-font-weight: bold;
}

.icon-btn {
  -fx-background-color: transparent;
}

.icon-btn:hover {
  -fx-opacity: 0.5;
}

.virtualized-scroll-pane {
    -fx-background-color: linear-gradient(to bottom, derive(-fx-text-box-border, -10%), -fx-text-box-border),
    linear-gradient(from 0px 0px to 0px 5px, derive(-fx-control-inner-background, -9%), -fx-control-inner-background);
    -fx-background-insets: 0, 1;
    -fx-background-radius: 3, 2;
}

.virtualized-scroll-pane:focused {
    -fx-background-color:
            -fx-focus-color,
            -fx-control-inner-background,
            -fx-faint-focus-color,
            linear-gradient(from 0px 0px to 0px 5px, derive(-fx-control-inner-background, -9%), -fx-control-inner-background);
    -fx-background-insets: -0.2, 1, -1.4, 3;
    -fx-background-radius: 3, 2, 4, 0;
}

.virtualized-scroll-pane .styled-text-area {
    -fx-background-insets: 0px;
}

.virtualized-scroll-pane .styled-text-area .paragraph-box:first-paragraph .paragraph-text {
    -fx-padding: 5px 2px 0 2px;
}

.virtualized-scroll-pane .styled-text-area .paragraph-box:first-paragraph .lineno {
    -fx-padding: 5px 5px 0 5px;
}

.virtualized-scroll-pane .scroll-bar:horizontal {
    -fx-background-radius: 0 0 2 2;

    -fx-padding: 0 0.08333325em 0.08333325em 0.08333325em;
    -fx-border-insets: 0 0.08333325em 0.08333325em 0.08333325em;
    -fx-background-insets: 0 0.08333325em 0.08333325em 0.08333325em;
}

.virtualized-scroll-pane .scroll-bar:vertical {
    -fx-background-radius: 0 2 2 0;
    -fx-padding: 0.08333325em 0.08333325em 0.08333325em 0;
    -fx-border-insets: 0.08333325em 0.08333325em 0.08333325em 0;
    -fx-background-insets: 0.08333325em 0.08333325em 0.08333325em 0;
}

.modal-dialog-glass {
  -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.4), 10, .5, 0, 0);
  -fx-background-color: rgba(0, 0, 0, 0.4);
  -fx-background-insets: 12;
  -fx-background-radius: 6;
}

.modal-dialog-container {
  -fx-padding: 12 12 13 12;
  -fx-spacing: 10;
  -fx-alignment: center;
  -fx-font-size: 14;
  -fx-background-color: white;
  -fx-border-width: 5;
  -fx-background-insets: 12;
  -fx-border-insets: 10;
  -fx-border-radius: 6;
  -fx-background-radius: 6;
}

.modal-dialog-header {
  -fx-background-color: rgb(60, 63, 65);
  -fx-border-radius: 6;
  -fx-font-size: 12;
  -fx-padding: 5;
}

.modal-dialog-content {
  -fx-padding: 20;
  -fx-font-size: 11;
}

.modal-dialog-footer {
  -fx-padding: 20;
}